.ttt{
  height:200px;
  width:80%;
  margin:auto;
  margin-top:10px;
}
nav{
  border-bottom: 1px solid black;
}
.tarea{
  font-size: 30px;
  margin-top:50px;
  margin-left:140px;
  font-weight: bold;
}
.bbtt>button{
  margin-right:20px;
  
}
.bbtt{
  margin-left:140px;
}

.dark{
  background-color: black;
  color:white;
  height:100vh;
}
.lll{
  text-decoration: none;
  color:black
}
.lll:hover{
  color:black
}